.calculator {
  width: 240px;
  height: 350px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;
  overflow: hidden;
}
